/* Navigation Section */
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.icon {
    width: 50px;
    height: auto;
    display: inline-flex;
    margin: 0px 24px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

li {
    float: right;
    padding: 20px;
}

li a{
    color:rgb(136, 33, 33);
    text-align: center;
}

li a:hover{
    color:rgb(69, 59, 136);
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip:hover:before {
    visibility: hidden;
    width: 120px;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    border-color:#000;
    text-align: center;
}

.tooltip:hover:after {
    content:attr(title);
    position: absolute;
    top: 70%;
    right: 100%;
    margin-right: -5px;
    border-width:5px;
    border-style: solid;
    border-color:#000;
}

/* Page Header Section*/

.imageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-position: right;
    height: 300px;
}

.homePageBackground {
    background-image: url(images/texas.jpg);
    color: #fff;
}

.austinBackground {
    background-image: url(images/austin.jpg);
    color: #fff;
}

.dallasBackground{
    background-image: url(images/dallas.jpg);
    color: #fff;
}

.sanAntonioBackground{
    background-image: url(images/san-antonio.jpg);
    color: #000;
}

.houstonBackground{
    background-image: url(images/houston.jpg);
    color: #fff;
}

.elPasoBackground{
    background-image: url(images/el-paso.jpg);
    color: #fff;
}

.imageTitle {
    position: absolute;
    padding-top: 40px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}


/* Body Section */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.bodyContainer {
    margin: 24px;
}

.sectionContainer {
    float: left;
    width: 50%;
    padding: 0 10px 0 0;
}

.sectionHeader {
    font-size: 32px;
    padding-bottom: 8px;
}

.sectionBody {
    display:inline-block;
}
.asideContainer {
    display: flex;
    justify-content: end;
}

