/* Navigation Section */
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1000;
}

.icon {
    width: 50px;
    height: auto;
    display: inline-flex;
    margin: 0px 24px;
    padding-top: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: end;
}

.link {
    float: right;
    padding: 20px;
}

li a{
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

li a:hover{
    color:rgb(123, 110, 211);
}

.tooltip {
    display: inline;
}

.tooltip:hover:before {
    visibility: hidden;
    width: 120px;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    border-color:#000;
    text-align: center;
}

.tooltip:hover:after {
    content:attr(title);
    top: 70%;
    right: 100%;
    margin-right: -5px;
    border-width:5px;
    border-style: solid;
    border-color:#000;
}

/* Page Header Section*/

.imageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-position: right;
    height: 300px;
    color: #fff
}

#homePage {
    background-image: url(images/texas.jpg);
}

#austin {
    background-image: url(images/austin.jpg);
}

#dallas{
    background-image: url(images/dallas.jpg);
}

#houston{
    background-image: url(images/houston.jpg);
}

#sources{
    background-image: url(images/sources.jpg);
}

#contact{
    background-image: url(images/contact.jpg);
}

.imageTitle {
    padding-top: 40px;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
}


/* Body Section */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #000;
    color:#fff;
}

.bodyContainer {
    margin: 24px;
}

section {
    float: left;
    width: auto;
    padding: 0 50px 24px 0;
    margin-right: 24px;
}

section li a {
    text-decoration: underline;
}

aside {
    display: grid;
}

aside li a {
    text-decoration: underline;
}

.header {
    font-size: 32px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding:10px;
    border: 1px solid #fff;
}

form {
    background-color: #2c2a2a;
    height: 300px;
    width: 300px;
    padding: 10px;
}

label {
    display: flex;
}

input, textarea {
    width:250px
}

button {
    padding-top: 5px;
    margin-left: 200px
}

.floatRight {
    float: right;
}

.leftContainer {
    position: absolute;
}

.rightContainer {
    position: relative;
    margin-left: 400px;
    padding-top: 20px;
}


