/* Navigation Section */
.navbar{
    margin-top: 12px;
    display: inline;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    border-color:#000000;
    text-align: center;

}

.tooltip .tooltipText::after {
    content:"";
    position: absolute;
    top: 70%;
    right: 100%;
    margin-right: -5px;
    border-width:5px;
    border-style: solid;
    border-color:#000000;
}

.tooltip:hover .tooltipText{
    visibility: visible;
    opacity: 1;
}

.icon {
    display: inline;
    width: auto;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    float: right;
    padding: 20px;
}

li a{
    color:rgb(136, 33, 33);
    text-align: center;
}

li a:hover{
    color:rgb(69, 59, 136);
}


/* Page Header Section*/

.imageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-position: right;
    height: 300px;
}

.homePageBackground {
    background-image: url(images/texas.jpg);
    color: #ffffff;
}

.austinBackground {
    background-image: url(images/austin.jpg);
    color: #ffffff;
}

.dallasBackground{
    background-image: url(images/dallas.jpg);
    color: #ffffff;
}

.sanAntonioBackground{
    background-image: url(images/san-antonio.jpg);
    color: #000000;
}

.houstonBackground{
    background-image: url(images/houston.jpg);
    color: #ffffff;
}

.elPasoBackground{
    background-image: url(images/el-paso.jpg);
    color: #ffffff;
}

.imageTitle {
    position: absolute;
    padding-top: 40px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}


/* Body Section */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}